.form-contact{
    padding-bottom: 15px;
}
.form-input-block{
    padding: 50px;
}
.form-input-block{
    background-color: aliceblue;
}

h1{
    border-bottom: 2px solid;
    padding-bottom: 5px;
}